*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    color: white;
    position: relative;
}

.pomo-body{
    background-color: #BA4949;
}

.short-body{
    background-color: #38858A;
}

.long-body{
    background-color: #397097;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin-bottom: 20px;
}

.graph-box{
    display: flex;
    justify-content: center;
    width: 100%;
}

#chartContainer{
    margin-top: 50px;
    width: 500px;
}

.chartContainer-disable{
    display: none;
}

.account{
    display: flex;
}

main{
    width: 25%;
}

.main{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
}

.pomo, .short, .long{
    background-color: transparent;
}

.text-top{
    margin-right: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.timer{
    display: flex;
    justify-content: center;
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
}

.start-btn{
    display: flex;
    justify-content: center;
}

.start{
    display: block;
    background-color: white;
    font-weight: bold;
}

.start-pomo{
    color: #BA4949;
}

.start-short{
    color: #2e7276;
}

.start-long{
    color: #29506c;
}

.start-hide{
    display: none;
}

.pause{
    display: none;
    background-color: white;
    color: #BA4949;
    font-weight: bold;
}

.pause-pomo{
    color: #BA4949;
}

.pause-short{
    color: #2e7276;
}

.pause-long{
    color: #29506c;
}

.pause-display{
    display: block;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
}

button{
    padding: 10px 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    transition: opacity 0.1s;
    cursor: pointer;
}

button:hover{
    opacity: 80%;
}

.set-pomo{
    background-color: #a54343;
}

.set-short{
    background-color: #2e7276;
}

.set-long{
    background-color: #29506c;
}

.set-pomo, .set-short, .set-long{
    font-weight: bold;
}

.secondary{
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tasks-menager{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    padding-bottom: 10px;
}

.text span{
    margin-left: 10px;
}

.quanity{
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 5px;
}

.tasks{
    width: 100%;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-task button{
    width: 100%;
    font-size: 20px;
    padding: 20px;
    background-color: rgba(0,0,0,0.2);
    border: 2px dashed rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.add, .remove{
    color: black;
}

.remove{
    padding-top: 5px;
}

.add{
    padding-bottom: 5px;
}

.count-pomos{
    display: flex;
}

.cancel{
    background-color: transparent;
    color: grey;
    font-weight: 600;
}

.btns{
    display: flex;
    display: flex;
    justify-content: right;
    background-color: rgba(116, 116, 116, 0.1);
    margin-top: 20px;
    padding: 10px;
}

#input-task{
    display: block;
}

.new-task span{
    color: black;
}

.add-task{
    display: block;
    margin-top: 20px;
    width: 100%;
}

.add-task-disable{
    display: none;
}

.new-task{
    width: 96%;
    background-color: white;
    display: none;
    padding: 10px;
    border-radius: 10px;
}

#input-task{
    font-size: 20px;
    padding: 5px;
    border: none;
    margin-bottom: 20px;
}

#num-of-pomo{
    background-color: rgba(116, 116, 116, 0.1);
    border: none;
    padding-left: 10px;
    width: 10%;
    margin-right: 10px;
    margin-top: 5px;
}

.save{
    background-color: black;
    color: white;
    opacity: 80%;
}

.new-task-enable{
    display: block;
}

.task-list{
    color: #29506c;
    width: 100%;
}

.task{
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 9px 10px -8px rgba(0, 0, 0, 0.8);
}

.task:hover{
    opacity: 100%;
    border-left: 5px solid rgba(0, 0, 0, 0.2);
    padding-left: 15px;
}

.task-selected{
    border-left: 5px solid rgb(0, 0, 0);
    padding-left: 15px;
    box-shadow: none;
}

.task-selected:hover{
    border-left: 5px solid rgb(0, 0, 0);
    padding-left: 15px;
}

.task i{
    margin-right: 10px;
    color: rgba(0, 0, 0, 0.2);
}

.task-checked{
    text-decoration-line: line-through;
}

.add, .remove{
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.left{
    display: flex;
    align-items: center;
}

.img{
    width: 25px;
    margin-right: 10px;
}

.settings-btn{
    position: relative;
}

.quick-set{
    position: absolute;
    background-color: white;
    color: black;
    display: none;
}

.quick-set-display{
    display: block;
}

.quick-set button{
    background-color: transparent;
    color: black;
    padding: 0;
    margin: 0;
}

.esti-box{
    margin-top: 20px;
    border-top: 1px solid white;
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    padding: 15px 0;
    display: none;
}

.esti-box-display{
    display: flex;
}

#pomo-esti{
    margin-right: 10px;
}

.opacity-max{
    color: white;
    font-size: 25px;
    font-weight: 500;
}



@media screen and (max-width: 1200px){
    header{
        width: 50%;
    }

    main{
        width: 40%;
    }
}

@media screen and (max-width: 900px){
    header{
        width: 60%;
    }

    main{
        width: 50%;
    }
}

@media screen and (max-width: 700px){
    header{
        width: 70%;
    }

    main{
        width: 60%;
    }
}

@media screen and (max-width: 500px){
    header{
        width: 100%;
    }

    main{
        width: 100%;
    }
}